# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Ambiente virtual
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Node
node_modules/

# IDE / editor
.vscode/
.idea/
.DS_Store

# Docker / ambiente local
.env
.env.*
!.env.example

docker-compose.override.yml

# Volume locais
pgdata/
redisdata/
